<div class="nav container">
	<ul class="nav-section header-menu">		
		<li class="nav-item logo">
			<!-- <img class="nav-section logo" src="images/opia-logo"> -->
		</li><!--
		--><li class="nav-item hamburger-item">
			<a href=""><img class="hamburger-menu-img" src="images/hamburger.png" ng-click="toggleMobileMenu()"></a>
		</li>
	</ul><!--
	--><ul class="nav-section nav-bar">
		<li class="nav-item" id="list">
			<a href="">
				{{"List" | uppercase}}
			</a>
		</li><!--	
		--><li class="nav-item" id="admin">
			<a href="">
				{{"Admin" | uppercase}}		
			</a>
		</li>			
	</ul>
</div>